body {
    background-image: url('../img/bg/bg01.png');
}
.wrap-header, 
.wrap-body, 
.wrap-footer {
    width: 100%;
    clear: both;
}
/* header */
.wrap-header .header {
    width: 1000px;
    height: 40px;
    margin: 0px auto;
    color: #aaa;
    background-color: #424542;
    border-bottom: 5px solid #83BF29;
}
/* body */
.wrap-body .body {
    width: 1000px;
    min-height: 200px;
    margin: 0px auto;
    clear: both;
}
.wrap-menu {
    width: 50px;
    float: left;
}
.wrap-menu .menu {
    min-height: 500px;
    background-color: #f3f3f3;
}
.wrap-content {
    width: 750px;
    float: left;
}
.wrap-content .content {
    min-height: 500px;
    background-color: #fff;
}
.wrap-body .body .wrap-sidebar {
    width: 200px;
    float: right;
}
.wrap-body .body .wrap-sidebar .sidebar {
    background-color: #f3f3f3;
    min-height: 500px;
}
/* footer */
.wrap-footer .footer {
    width: 1000px;
    height: 100px;
    margin: 0px auto;
    border-top: 5px solid #313031;
    background-color: #424542;
}