.wrap-header, 
.wrap-body, 
.wrap-footer {
    width: 100%;
    clear: both;
}
/* header */
.wrap-header .header {
    width: 1000px;
    height: 100px;
    border: 1px solid #ccc;
    margin: 0px auto;
    background-color: #D7D7D7;
}
/* body */
.wrap-body .body {
    width: 1000px;
    min-height: 200px;
    border: 1px solid #ccc;
    margin: 0px auto;
    clear: both;
}
.wrap-menu {
    width: 100px;
    float: left;
}
.wrap-menu .menu {
    min-height: 500px;
    background-color: #245269;
}
.wrap-content {
    width: 700px;
    float: left;
}
.wrap-content .content {
    min-height: 500px;
    background-color: #05B2D2;
}
.wrap-body .body .wrap-sidebar {
    width: 200px;
    float: right;
}
.wrap-body .body .wrap-sidebar .sidebar {
    background-color: #398439;
    min-height: 500px;
}
/* footer */
.wrap-footer .footer {
    width: 1000px;
    height: 100px;
    border: 1px solid #ccc;
    margin: 0px auto;
    background-color: #474747;
}